<h1>Editing withdrawal</h1>

<% form_for(@withdrawal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @withdrawal %> |
<%= link_to 'Back', withdrawals_path %>