%h2.title
  Showing withdrawal

.inner
  %p
    %b Date:
    =h @withdrawal.created_at.to_formatted_s(:long)

  %p
    %b Description:
    =h @withdrawal.description

  - @withdrawal.fund_transactions.used.each do |da|
    %p
      %b=h da.fund.name
      =h currency(da.dollars)
