.flash .message.notice {
  width: 100%; }

h2.title span {
  float: right; }

.group .text_field.percentage {
  text-align: right;
  width: 2.3em; }

.group .text_field.amount {
  text-align: right;
  width: 5.0em; }
