%h2.title
  All Users

.inner
  %table.table
    %tr
      %th Login
      %th Email

    - @users.each do |user|
      %tr{ :class => cycle("odd", "") }
        %td= link_to user.login, user
        %td=h user.email

- content_for :sidebar do
  %li= link_to "Create A New User", new_user_path

