%h2.title
  All Users

.inner
  %table.table
    %tr
      %th Login
      %th Email

    - @users.each do |user|
      %tr{ :class => cycle("odd", "") }
        %td=h user.login
        %td=h user.email

= simple_sidebar do
  %li= link_to "Create A New User", new_user_path

