%h2.title
  All Deposit Types

.inner
  %table.table
    %tr
      %th Name
      %th.last

    - @deposit_types.each do |deposit_type|
      %tr{ :class => cycle("odd", "") }
        %td=h deposit_type.name
        %td.last= link_to("Show", deposit_type)

- content_for :sidebar do
  %li= link_to "Create new deposit_type", new_deposit_type_path