%h2.title
  %span= link_to "Edit", edit_deposit_type_path(@deposit_type)
  Showing
  = @deposit_type.name

.inner
  %p
    %b Name:
    =h @deposit_type.name

  - @deposit_type.deposit_type_account_percentages.each do |percentage|
    %p
      %b=h percentage.account.name
      =h "#{ percentage.percentage }%"
