%h2.title
  %span
    Total:
    = currency(@total)
  All Deposits

.inner
  %table.table
    %tr
      %th Date
      %th Amount
      %th.last

    - @deposits.each do |deposit|
      %tr{ :class => cycle("odd", "") }
        %td= deposit.created_at.to_formatted_s(:long)
        %td= currency(deposit.dollars)
        %td.last= link_to("Show", deposit)

