%h2.title
  Showing deposit

.inner
  %p
    %b Date:
    =h @deposit.created_at.to_formatted_s(:long)

  %p
    %b Description:
    =h @deposit.description

  - @deposit.fund_transactions.used.each do |da|
    %p
      %b=h da.fund.name
      =h currency(da.dollars)
