= render :partial => "sidebar"

%h2.title
  %span
    Total:
    = currency(@total)
  All Transactions

.inner
  = render :partial => "transaction_table", :locals => { :transactions => @transactions }

