%h2.title 
  %span
    Total Balance:
    = currency(current_user.family.total_balance)
  All Funds

.inner
  %table.table
    %tr
      %th Name
      %th Balance
      %th.last

    - @funds.each do |fund|
      %tr{ :class => cycle("odd", "") }
        %td=h fund.name
        %td=h currency(fund.balance)
        %td.last= link_to "Show", fund


- content_for :sidebar do
  %li= link_to "Create New Fund", new_fund_path
  %li= link_to "Synchronize With Real Fund", new_synchronize_path
