%h2.title 
  %span
    Total Balance:
    = currency(current_user.family.total_balance)
  All Funds

.inner
  %table.table
    %tr
      %th Name
      %th Balance

    - @funds.each do |fund|
      %tr{ :class => cycle("odd", "") }
        %td= link_to fund.name, fund
        %td=h currency(fund.balance)


- content_for :sidebar do
  %li= link_to "Create New Fund", new_fund_path
