%h2.title
  %span= link_to "Edit", edit_fund_path(@fund)
  =h @fund.name

.inner
  %p
    Current balance:
    = currency(@fund.balance)

- content_for :sidebar do
  %li= link_to "Create New Fund", new_fund_path