- content_for(:sidebar) do                                                                                         
  .block                                                                                                           
    %h3= name                                                                                                      
    %ul.navigation
      = list
