%h2.title
  All Deposit Templates

.inner
  %table.table
    %tr
      %th Name

    - @deposit_templates.each do |deposit_template|
      %tr{ :class => cycle("odd", "") }
        %td= link_to deposit_template.name, deposit_template

- content_for :sidebar do
  %li= link_to "Create New Deposit Template", new_deposit_template_path