#footer
  .block
    %p
      %span.errors= link_to "Errors or questions?", "http://blog.lucky-dip.net/articles/2009/09/07/fundation/"
      = link_to "Copyright &copy; 2009 Brad Wilson", "http://blog.lucky-dip.net/"