%h2.title 
  %span
    Balance:
    = currency(Account.total_balance)
  All Accounts

.inner
  %table.table
    %tr
      %th Name
      %th Balance
      %th.last

    - @accounts.each do |account|
      %tr{ :class => cycle("odd", "") }
        %td=h account.name
        %td=h currency(account.balance)
        %td.last= link_to "Show", account


- content_for :sidebar do
  %li= link_to "Create new account", new_account_path
